 

.jumbotron {
    background-color: #4088B7;
    color: black;
	margin-top: 5px;	
}

.jumbotron h1 {
    padding: 10px ;
    text-shadow: 1px 1px #000;
    border-bottom: 5px solid black;
}

  
.btn-reserva {
	background-color: #4088B7;
	color: white;
	width: 100%;
	border-radius: 0px;
}

.img-fluid{
	width: 100%;
	height: 300px;
}
.footer{
	padding: 10px 10px 0 10px;
	background-color: green;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-ventas{
	flex: 1 200px;
	margin-top: 10px;
}

.footer-address-icon{
	padding-right: 10px;
}
 
.tab-content{
	padding-top: 10px;
}